# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/
env/

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Gaia Data
artifacts/
.gaia/

# Build Artifacts
build/
dist/
*.spec
*.egg-info
